<!DOCTYPE html>
<html>
<head>
<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
</head>
    <body>
<div class="w3-container">
    <center> 
  <h1> <b> Packages</b></h1>
</center>
<div class="row">
  <div class="column">
    <img src="/img/k1.jpg" alt="Snow" style="width:100%">
      <div class="w3-container w3-center">
       <center> 
      <h2> <b> MYSORE </b></h2>
              </center>
          <P> <b> What's Included</b></P>
          <p> 
Pick up from Hospet Station and drop at Bangalore
station.Intercity transfers from Hospet – Badami - Hasan –Mysore – bangalore.
Accommodation for 01 night in Badami.Accommodation for 02 nights in Hampi.Accommodation for 01 night in Hassan.Accommodation for 01 night in Mysore.</p>
           <center> <p> <b> Price: RS.18,999</b></p></center>
    </div>
  </div>
    
  <div class="column">
    <img src="/img/h1.jpg" alt="Forest" style="width:100%">
      <div class="w3-container w3-center">
          <center> 
      <h2> <b> HYDERABAD </b></h2>
              </center>
          <P> <b> What's Included</b></P>
           <p> 
               Pick up from Hyderabad Station and drop at Bangalore station.Intercity transfers from Hyderabad -Mantralaya -banglore.Accommodation for 02 night in hyderabad.Accommodation for 02 nights in Mantralaya.Icluding breafast and lunch.</p>
          <center> <p> <b> Price: RS.18,999</b></p></center>
    </div>
  </div>
    
  <div class="column">
    <img src="/img/d1.jpg" alt="Mountains" style="width:100%">
      <div class="w3-container w3-center">
      <div class="w3-container w3-center">
          <center> 
      <h2> <b> DELHI </b></h2>
              </center>
          <p> <b> What's Included </b></p>
<p> Pick up and drop from Delhi airport/ railway station.
Intercity transfers from Delhi – Agra – Jaipur – Delhi.
1 Night accommodation in Delhi with 1 breakfast.
1 Night accommodation in Agra with 1 breakfast.
1 Night accommodation in Jaipur with 1 breakfast.</p>
          <center> <p> <b> Price: RS.12,999</b></p></center>
    </div>
  </div>
    
</div>
    </div></div>
        <h2 align="center">  <a href="bookpackages"> <button type="button" size="50">BOOK TICKET</button> </a> </h2>
</body>
</html>

