<html>
<body background=/img/img.jpg>
<form name="myForm" method="POST">
<br>
<br>
<center><h1 style="color: white"> Welcome to LD travels </h1></center>
<br>
 <center><h2> <a href="browsepackages"> <button type="button" size="50">AVAILABLE PACKAGES</button> </a></h2></center>
<br>
   
<center><h2 >  <a href="bookticket"> <button type="button" size="50">BOOK TICKET</button>  </a>  </h2></center>
<br>

</form>
</body>
</html>